@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--blue: #2708a5;
	--brown: #a47449;
	--white: #fff;
	--black: #000;
	--almost-black: #141414;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	list-style-type: none;
}
body {
	overflow-x: hidden;
}

.btn_btn {
	background-color: #0c058b;
	color: #fff;
	padding: 1.5rem 5rem;
	border: none;
	border-radius: 15px;
	cursor: pointer;

	&:hover {
		background-color: #0c058bd1;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #e0defd;
	min-height: 100vh;
	padding-inline: calc((100vw - 1200px) / 5);
	padding-top: 5rem;
	padding-bottom: 5rem;
	gap: 3rem;

	h1 {
		font-size: 50px;
		font-weight: 700;
		line-height: 75px;
		text-align: center;
		color: #222222;
		margin-top: 7rem;
		max-width: 30ch;
	}

	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 30px;
		text-align: center;
		color: #222222;
		max-width: 80ch;
	}

	.imgs {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0;
		margin-inline: 10rem;

		.hp-img {
			width: 40%;
		}

		img {
			width: 50%;
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		padding-inline: 1rem;
		padding-bottom: 1rem;
		gap: 2rem;

		h1 {
			font-size: 30px;
			line-height: 40px;
			margin-top: 5rem;
		}

		p {
			font-size: 18px;
		}

		.imgs {
			/* flex-direction: column; */
			display: flex;
			margin-inline: 0rem;

			.hp-img {
				display: none;
			}

			img {
				width: 100%;
			}
		}
	}
}

.id-section {
	padding-inline: calc((100vw - 1200px) / 5);
	padding-block: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	.section-img {
		width: 100%;
	}

	.content {
		/* justify-content: start; */
		align-items: start;
		flex-direction: column;
		display: flex;
		gap: 2rem;

		h1 {
			font-size: 40px;
			font-weight: 600;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
		}
		a {
			display: flex;
			align-items: center;
			font-weight: 600;
			gap: 5px;
		}
	}
}

@media (max-width: 1024px) {
	.id-section {
		flex-direction: column-reverse;
		padding-inline: 1rem;
		padding-block: 3rem;

		.content {
			h1 {
				font-size: 32px;
			}
		}
	}
}

.ticket-sales {
	flex-direction: row-reverse;
	background: #e0defd;
}
.voting-polls {
	background-color: #fff;
	flex-direction: row-reverse;
	.voting-polls-img {
		width: 50%;
	}
}

@media (max-width: 1024px) {
	.ticket-sales {
		flex-direction: column-reverse;
	}
}
@media (max-width: 1024px) {
	.voting-polls {
		flex-direction: column-reverse;
	}
	.voting-polls-img {
		width: 100% !important;
	}
}

.button-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block: 3rem;

	.features-btn {
		font-weight: 600;
		align-self: center;
		justify-self: center;
		background-color: transparent;
		border: 2px solid #0c058b;
		color: #0c058b;
		font-size: 16px;
		padding: 1rem 3rem;

		&:hover {
			background-color: #0c058b;
			color: #fff;
		}
	}
}

.announce-section {
	/* background: #fff; */
	background: #e0defd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: calc((100vw - 1200px) / 5);
	padding-block: 3rem;
	gap: 3rem;
	text-align: center;

	h2 {
		font-size: 40px;
		font-weight: 600;
	}

	p {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		width: 80%;
	}

	.announce-btn {
		background: #0c058b;
		border: #0c058b 1px solid;
		/* color: ; */
		font-weight: 600;
		padding: 1rem 3rem;

		&:hover {
			color: #0c058b;
			background-color: transparent;
		}
	}
}

@media (max-width: 1024px) {
	.announce-section {
		padding-inline: 1rem;
	}
}

.faq_section {
	background: url("/public/Rectangle 517.png");
	background-repeat: no-repeat;
	background-position: center center;
	color: #000;
	background-color: #ffffff;
	padding-block: 4rem;
	padding-inline: calc((100vw - 1200px) / 5);

	/* padding-inline: 8rem; */
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: space-between;
	align-items: center;
}

.faq_section h1 {
	font-size: 45px;
	font-weight: 600;
}

.faq_accordion {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.faq_item {
	padding: 5px;
	width: 100%;
	min-width: 1111px;
	max-width: 1111px;
}

.faq_question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1rem;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid #ccc;
}

.faq_answer {
	display: none;
	padding: 10px;
	line-height: 30px;
}

.icon {
	font-size: 20px;
}

@media screen and (max-width: 1024px) {
	.faq_section {
		padding-block: 2rem;
		padding-inline: 1rem;
		gap: 0.5rem;
	}

	.faq_section h1 {
		text-align: center;
		font-size: 25px;
	}

	.faq_accordion .faq_item {
		min-width: 0;
		max-width: 900px;
	}

	.faq_answer {
		font-size: 16px;
	}
}

.footer {
	/* padding-inline: 8rem; */
	flex-direction: column;
	display: flex;
	gap: 3rem;
	background: url("/public/Rectangle 517.png");
	background-color: #0c058b;

	/* background-color: #f8f8f8; */

	.footer_top {
		padding-block: 3rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #e0defd;
		/* background-color: #fff; */
		padding-inline: calc((100vw - 1200px) / 5);

		.footer_top_text {
			display: flex;
			flex-direction: column;
			align-items: start;
			max-width: 45%;
			gap: 1rem;

			h1 {
				font-size: 40px;
				font-weight: 600;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 30px;
			}
		}

		.subscribe {
			position: relative;
			display: inline-block;

			.subscribe-input {
				padding: 1.5rem 2rem 1.5rem 1rem;
				border-radius: 20px;
				border: 1px solid #ccc;
				width: 500px;
				max-width: 500px;
				/* width: 100%; */
				box-sizing: border-box;
				padding-right: 100px;
			}
			.subscribe_button {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				border: none;
				background-color: #f80000;
				color: white;
				padding: 0 20px;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				cursor: pointer;
			}
		}
	}

	.divider_line {
		width: 100%;
		height: 1px;
		background-color: #c9c9c9;
	}

	.footer_mid {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: calc((100vw - 1200px) / 5);
		color: #fff;

		/* // gap: 6rem;/ */

		.footer_mid_box {
			color: #000;
			background-color: #e0defd;
			padding: 40px;
			width: 25%;
			border-radius: 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 1.3rem;
			transition: all 0.5s ease-in-out;

			.fa-brands {
				/* font-size: 40px; */
				border: 1px solid #000;
				border-radius: 50%;
				padding: 10px;
				cursor: pointer;
				color: #000;

				&:hover {
					color: #0056b3;
				}
			}

			/* &:hover {
            background-color: var(--easy-prints-blue);
         } */

			h3 {
				font-size: 24px;
				font-weight: 400px;
			}
			p {
				font-size: 16px;
				line-height: 25px;
			}

			.social_media {
				display: flex;
				gap: 15px;
			}
		}

		.footer_mid_right {
			display: flex;
			width: 70%;
			justify-content: space-between;
			align-items: start;

			.footer_mid_right_div {
				display: flex;
				justify-content: space-around;
				width: 100%;
				align-items: start;

				.active {
					color: #f80000;
				}

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						text-decoration: line-through;
					}
				}
			}

			.footer_mid_right_links {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				gap: 1.5rem;

				h3 {
					font-size: 22px;
				}

				p {
					font-size: 16px;
					cursor: pointer;
					font-weight: 400;
					&:hover {
						color: var(--easy-prints-blue);
					}
				}
			}
		}
	}

	.footer_bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		color: #fff;
		padding-bottom: 2rem;
		padding-inline: calc((100vw - 1200px) / 5);
	}
}

@media screen and (max-width: 1024px) {
	.footer {
		gap: 3rem;

		.footer_top {
			padding-inline: 1rem;
			padding-block: 2rem;
			flex-direction: column;
			align-items: start;

			.footer_top_text {
				max-width: 100%;
				gap: 1rem;

				h1 {
					font-size: 30px;
				}

				p {
					line-height: 25px;
				}
			}

			.subscribe {
				.subscribe-input {
					width: 100%;
					min-width: 350px;
				}
			}
		}

		.footer_mid {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 2rem;

			.footer_mid_box {
				width: 100%;
				gap: 1rem;
			}

			.footer_mid_right {
				width: 100%;
				text-align: center;

				.footer_mid_right_div {
					justify-content: space-between;
					align-items: center;
					gap: 2rem;
					flex-direction: column;
				}

				.footer_mid_right_links {
					gap: 1rem;
				}
			}
		}

		.footer_bottom {
			text-align: center;
		}
	}
}

.breadcrumb {
	background-color: #e0defd;
	max-height: 500px;
	min-height: 500px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* padding-inline: 8rem; */
	padding-inline: calc((100vw - 1200px) / 5);

	align-items: center;
	padding-top: 6rem;
	padding-bottom: 2rem;
	transition: all 1s ease-in-out;

	.breadcrumb-left {
		/* margin: 0 auto; */
		h1 {
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 0.5rem;
		}

		.back-to-home {
			background: #ffffffbb;
			display: flex;
			padding: 1rem;
			justify-content: center;
			align-self: start;
			border-radius: 20px;
			font-weight: 600;
			gap: 5px;
			width: -moz-fit-content;
			width: fit-content;

			a {
				text-decoration: none;
				color: #f80000;
			}
		}
	}

	.dropdown-breadcrumb {
		/* margin: 0 auto; */
		padding-left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	img {
		width: 40%;
	}
	.contact-bread-img {
		width: 40%;
	}
}

@media (max-width: 1024px) {
	.breadcrumb {
		flex-direction: column;
		min-height: 400px;
		justify-content: center;
		padding-inline: 1rem;

		.breadcrumb-left {
			h1 {
				font-size: 3.5rem;
			}
			/* 
			.back-to-home {
				width: 100%;
			} */
		}

		.dropdown-breadcrumb {
			h1 {
				font-size: 30px;
				text-align: center;
			}

			/* .back-to-home {
				width: 300px;
			} */
		}
	}
}

.about_company {
	padding-inline: calc((100vw - 1200px) / 5);

	padding-block: 4rem;

	.company_head {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 5rem;
	}

	h3 {
		font-size: 16px;
		font-weight: 600;
	}
	h2 {
		font-size: 40px;
		font-weight: 600;
	}

	.companyOverview {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.company_left {
			display: flex;
			flex-direction: column;
			max-width: 50%;
			gap: 1rem;

			.get_your_card {
				display: flex;
				align-items: center;
				gap: 5px;
				text-decoration: none;
			}

			h2 {
				font-size: 40px;
				line-height: 55px;
			}

			p {
				line-height: 33px;
				font-size: 16px;
			}
		}

		.company_right {
			display: flex;
			z-index: 1;
		}
	}
}

@media (max-width: 1024px) {
	.about_company {
		padding-inline: 1rem;
		padding-block: 2rem;

		.company_head {
			text-align: center;
			margin-bottom: 2rem;
		}

		h2 {
			font-size: 30px;
		}

		.companyOverview {
			flex-direction: column;
			gap: 2rem;

			.company_left {
				max-width: 100%;

				h2 {
					font-size: 25px;
					line-height: 35px;
				}
			}

			.company_right {
				align-items: center;
				justify-content: center;

				.macbook {
					width: 100%;
				}
				.macbook_frame {
					width: 50%;
					left: 0;
				}
			}
		}
	}
}

.company_beforeFooter {
	background: url("/public/Rectangle 517.png");
	background-color: #0c058b;
	padding-inline: calc((100vw - 1200px) / 5);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 5rem;
	gap: 5rem;

	.aim {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 15px;
		padding-block: 2rem;
		padding-inline: 3rem;
		gap: 2rem;
		max-width: 50%;
		min-height: 160px;

		.aim_content {
			h2 {
				font-size: 18px;
				margin-bottom: 0.5rem;
			}
			p {
				line-height: 30px;
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.company_beforeFooter {
		flex-direction: column;
		padding-inline: 1rem;
		padding-block: 3rem;

		.aim {
			padding-block: 2rem;
			padding-inline: 2rem;
			gap: 2rem;
			max-width: 100%;
			flex-direction: column;
			text-align: center;
		}
	}
}

.faq_page {
	background: none;
	color: #000;
}

.faq_page_question {
	border-bottom: #0c058b 3px solid;
	border-radius: 15px;
	padding: 20px;
	&:hover {
		background-color: #0c058b;
		color: #fff;
	}
}

.faq_page_answer {
	padding: 1rem;
}

/* .faq_subscribe {
   background: url(public/FAQ.png);
   min-height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   color: #fff;

   h3 {
      max-width: 50ch;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
   }

   button {
      padding: 1.5rem 4rem;

      background-color: #fff;
      border-radius: 50px;
      color: 000;
      border: #fff 1px solid;
      cursor: pointer;

      &:hover {
         background-color: #655cfe;
         color: #fff;
      }
   }
} */
/* 
@media (max-width: 1024px) {
   .faq_subscribe {
      padding-inline: 1rem;
   }
} */

/*  */
/*  CONTACT PAGE*/
/*  */

.contact_section {
	padding-inline: calc((100vw - 1200px) / 5);

	padding-top: 7rem;
	padding-block: 5rem;
	gap: 5rem;
	display: flex;
	align-items: start;
	justify-content: space-between;

	.contact_left {
		display: flex;
		flex-direction: column;
		width: 40%;
		/* align-items: center; */
		gap: 1rem;

		.contact_left_div {
			display: flex;
			align-items: start;
			padding: 1.5rem;
			border-radius: 12px;
			width: 500px;
			gap: 1rem;
			background-color: #fff;
			box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

			&:hover {
				background-color: #0c058b;
				transition: all 0.5s ease-in-out;
				color: #fff;
				box-shadow: 0px 0px 0px #d9d9d900, 0px 0px 0px #ffffff00;
			}

			i {
				background-color: #e5e7ff;
				padding: 1rem;
				font-size: 20px;
				border-radius: 50%;
				color: #655cfe;
			}

			.contact_text_left {
				h2 {
					font-size: 20px;
					font-weight: 600;
				}
				p {
					font-size: 16px;
					font-weight: 500;
					padding-top: 15px;
					line-height: 25px;
					/* color: #222222; */
				}
			}
		}

		.map-img {
			width: 100%;
			min-height: 300px;
		}
	}

	.contact_right_form {
		background-color: #fff;
		box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		min-width: 60%;

		h2 {
			font-size: 40px;
			font-weight: 600;
		}
		p {
			font-size: 18px;
			font-weight: 400;
		}

		.contact_main_form {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			flex-direction: column;
			margin-top: 2rem;

			.form_form {
				display: flex;
				/* flex-direction: column; */
				flex-wrap: wrap;
				gap: 1rem;

				.input-flex {
					display: flex;
					flex-direction: column;
					width: 100%;
					gap: 10px;

					label {
						color: #000000;
						font-weight: 600;
					}

					input,
					textarea {
						padding: 1rem 2rem;
						resize: none;
						/* background-color: #f7f7f7; */

						border-radius: 5px;
						border: #e7e2e2 1px solid;

						&::placeholder {
							font-family: poppins;
							font-size: 16px;
							color: #edecec;
						}
					}
				}
			}
		}

		.submit_btn {
			width: 100%;
			border-radius: 50px;
			font-weight: 600;
		}
	}
}

@media (max-width: 1024px) {
	.contact_section {
		padding-inline: 1rem;
		padding-block: 2rem;
		flex-direction: column;
		gap: 2rem;

		.contact_left {
			width: 100%;
			.contact_left_div {
				max-width: 100%;
				min-width: 300px;
			}
			.map-img {
				width: 100%;
				min-height: 0;
			}
		}

		.contact_right_form {
			width: 100%;
			margin: 0 auto;

			.contact_main_form {
				display: flex;
				justify-content: center;
			}

			.submit_btn {
				width: 100%;
			}
		}
	}
}

/* Announce me page */

.dropdown-inner {
	padding-inline: calc((100vw - 1200px) / 4);
	display: flex;
	flex-direction: column;

	.inner-one {
		padding-top: 6rem;
		padding-bottom: 2rem;

		h1 {
			font-size: 40px;
			font-weight: 600;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			padding-block: 1rem;
			line-height: 30px;
		}
	}

	.inner-one-terms {
		padding-top: 0rem;
	}

	.inner-two {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 3rem;
		margin-block: 1rem;

		.inner-two-left {
			width: 50%;

			img {
            width: 100%
         }
		}
		.access-img-img {
			width: 80%;
		}
		.inner-two-right {
			
			h2 {
				font-size: 22px;
				font-weight: 600;
				line-height: 32px;
			}

			.inner-ul {
				display: flex;
				justify-content: space-between;
				gap: 10rem;
			}

			/* ul{
       
            display: flex;
            align-items: start;
            gap: 5px;
            padding-block: 10px;
         
        } */
		}
	}

	.sales {
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-bottom: 3rem;
	}
	.sales-two {
		padding: 3rem;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	ul {
		li {
			display: flex;
			align-items: start;
			gap: 5px;
			padding-block: 12px;
		}
	}
}

.promote-event-one {
	h1 {
		font-size: 2rem;
		font-weight: 600;
	}

	.promote-event-text {
		font-size: 16px;
		font-weight: 400;
		padding-block: 1rem;
		line-height: 30px;
	}
}

.promote-two {
	flex-direction: row-reverse;
	h1 {
		font-size: 2rem;
		font-weight: 600;
		line-height: 45px;
	}

	li {
		p {
			line-height: 30px;
		}
	}

	.promote-three {
		width: 80%;
	}
}

.promote-three-right {
	img {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.dropdown-inner {
		padding-inline: 1rem;

		.inner-one {
			padding-top: 4rem;

			h1 {
				font-size: 30px;
				font-weight: 700;
			}
		}

		.inner-two {
			flex-direction: column;
			gap: 1rem;
			/* margin-block: 0;   */

			.inner-two-left {
				width: 100%;

				img {
					width: 100%;
				}
			}
			.inner-two-right {
				h2 {
					font-size: 22px;
					font-weight: 600;
					line-height: 32px;
				}
			}
		}

		.inneer-two-second {
			flex-direction: column-reverse;

			.inner-img-img {
				width: 100%;
			}
		}

		ul {
			li {
				display: flex;
				align-items: start;
				gap: 5px;
				padding-block: 12px;
			}
		}
	}
}

.policy-ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-top: 2rem;
	gap: 1rem;

	li {
		display: flex;
		align-items: center;
		justify-content: start;

		gap: 10px !important;
		padding-block: 0px !important;
		align-content: flex-start;
		justify-content: space-around;

		p {
			line-height: 35px;
		}
	}
}

.table-container {
	padding-inline: calc((100vw - 1200px) / 4);
	position: relative;
	width: 100%;
	/* max-width: 1200px; Adjust as needed */
	margin: 20px auto;
	overflow: hidden;
	/* background-color: white; */
	/* padding: 20px; */

	/* height: 100vh; */
	background: transparent;
}

.table-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url("./public/price-bkg.png") no-repeat center center;
	height: 100%;
	background-size: cover;
	opacity: 1;
	z-index: -1;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

th,
td {
	border: 1px solid #22222299;
	padding: 12px;
	text-align: left;
	height: 80px;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

tr:nth-child(even) {
	/* background-color: #f9f9f9; */
}

tr:hover {
	background-color: #f1f1f1;
}

table th:first-child,
table td:first-child {
	width: 55%;
}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3) {
	width: 21%;
	padding-left: 2rem;
	font-weight: 500;
}

.check-circle-agent {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	/* img {
		margin-top: 5px;
	} */
}

/* .faq-page-question-li {
	border: 1px solid #8b8b8b99;
	padding-left: 2rem;
	padding-right: 1rem;

	img {
		width: 40px;
	}
}

.faq-page-answer-li {
	display: flex;
	align-content: start;
	justify-content: start;
	flex-direction: column;
	gap: 1.3rem !important;

	.faq-answer-li {
		display: flex;
		justify-content: start;
		align-items: start;
		gap: 1.2rem;
	}
} */

.accordion {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 1px solid #ccc;
}

.accordion-item {
	border-bottom: 1px solid #ccc;
}

.accordion-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	cursor: pointer;

	&:hover {
		background: #f9f9f9;
	}
}

.accordion-header h3 {
	margin: 0;
	font-weight: 600;
}

.accordion-content {
	display: none;
	padding-bottom: 25px;
	background: #fff;
}

.accordion-content ul {
	padding-left: 20px;

	li {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.9rem;
		margin-top: 1.5rem;

		img {
			width: 20px;
		}

		p {
			line-height: 28px;
			font-weight: 500;
		}
	}
}

.arrow {
	transition: transform 0.2s;

	img {
		width: 70%;
	}
}

.arrow.open {
	transform: rotate(90deg);
}

.still-have-questions {
	margin-block: 2rem;
	margin-inline: auto;
}

@media (max-width: 1024px) {
	.accordion-content ul {
		li {
			align-items: start;
		}
	}
}

.inner-search {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background-color: #fcfcfc;

	margin: 0;
}

.search-container {
	position: relative;
	width: 500px;
}

.search-input {
	width: 100%;
	padding: 10px 40px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: #aaa;
	/* pointer-events: none; */
	cursor: pointer;
}

@media (max-width: 1024px) {
	.inner-search {
		flex-direction: column;
	}

	.search-container {
		position: relative;
		width: fit-content;
	}
}

.events-container {
	overflow-x: hidden;

	padding-inline: calc((100vw - 1200px) / 4);
	/* padding-inline: 12rem; */
	margin-bottom: 6rem;
	display: grid;
	/* border: 2px solid red; */
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
	/* grid-template-columns: repeat(auto-fill, 1fr); */
	/* grid-template-rows: repeat(2, 1fr); */
	grid-column-gap: 0rem;
	grid-row-gap: 5rem;
	background-color: #fcfcfc;
	/* width: 100%; */
	place-content: center;
	.event-box {
		/* width: 1000px !important; */
		border-radius: 10px;
		-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
		-moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
		box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.67);
		background-color: #fff;
		width: 90%;

		img {
			width: 100%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.event-content {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: center;
			align-items: start;

			h3 {
			}
			p {
				line-height: 22px;
			}

			ul {
				min-width: 400px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				justify-content: space-between;
				align-items: start;

				li {
					font-weight: 600;

					span {
						font-weight: 400;
						margin-left: 1rem;
					}
				}
			}

			button {
				background-color: #0c058b;
				padding: 0.6rem 2rem;
				border-radius: 15px;
				color: #fff;
				border: none;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1024px) {
	.events-container {
		margin-inline: auto;
		/* padding-inline: 10rem; */
		/* padding-right: 2rem; */
		place-content: center;
		margin-bottom: 6rem;
		margin-top: 3rem;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 3rem;
		background-color: #fcfcfc;

		.event-box {
			border-radius: 10px;
			-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
			-moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
			box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.67);
			background-color: #fff;
			max-width: 350px;

			img {
				width: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.event-content {
				padding: 2rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				justify-content: center;
				align-items: start;

				h3 {
				}
				p {
					line-height: 22px;
				}

				ul {
					min-width: 400px;
					display: flex;
					flex-direction: column;
					gap: 10px;
					justify-content: space-between;
					align-items: start;

					li {
						font-weight: 600;

						span {
							font-weight: 400;
							margin-left: 1rem;
						}
					}
				}

				button {
					background-color: #0c058b;
					padding: 0.6rem 2rem;
					border-radius: 15px;
					color: #fff;
					border: none;
				}
			}
		}
	}
}

.agents-new-img {
	/* display: none; */
	width: 40% !important;
}

.voting-new-img {
	width: 100%;
}

.voting-two-inner {
	/* align-items: center !important; */
	justify-content: center;
}

.voting-list {
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		margin-top: 1rem;
	}
}

.cert-inner {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	gap: 1rem;
}
